<main class="bg-[#DDFAE8]">
    <section class="flex flex-col max-sm:bg-blac md:flex-row mx-auto max-w-screen-xl items-center h-[91vh] max-sm:h-[88vh]">
      <div class="max-sm:mt-24">
        <p class="text-7xl max-sm:text-3xl max-md:text-5xl font-bold drop-shadow-xl text-center">Seja Bem-vindo</p>
        <p class="text-7xl max-sm:text-3xl max-md:text-5xl font-bold drop-shadow-xl text-center">ao</p>
        <p class="text-7xl max-sm:text-3xl max-md:text-5xl font-bold drop-shadow-xl text-center">Deck Creator</p>
      </div>
      <img src="../../../assets/img/main-banner.png" class="md:w-1/2 mx-auto md:mx-0 h-auto" />
    </section>
  </main>