<main class="bg-[#DDFAE8]">
    <section class="flex flex-col md:flex-row mx-auto max-w-screen-xl items-center justify-between h-[90vh]">
      <div class="flex-1">
        <p class="text-7xl max-sm:text-3xl max-md:text-5xl font-bold drop-shadow-xl text-center">Seja Bem-vindo</p>
        <p class="text-7xl max-sm:text-3xl max-md:text-5xl font-bold drop-shadow-xl text-center">ao</p>
        <p class="text-7xl max-sm:text-3xl max-md:text-5xl font-bold drop-shadow-xl text-center">Deck Creator</p>
      </div>
      <img src="https://i.pinimg.com/originals/f0/cb/08/f0cb0842056cc567e950a82be5d48b39.png" class="md:w-1/2 mx-auto md:mx-0 h-auto" />
    </section>
  </main>